body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: 0; padding: 0; height: 100vh; width: 100vw;
}

#map {
    position: absolute;
    height: calc(100% - 50px); 
    width: 100%;
    z-index: 0;
}

#lat_disp {
    position: fixed;
    bottom: 50px;
    left: 0;
    text-align: left;
    padding:3px;
    z-index: 2;
}

#menu_bar {
    position: fixed;
    bottom: 0;
    height:50px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

#help_button {
    position:fixed;
    bottom: -10px;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    z-index: 3;
    cursor: pointer;
}

#notif_bar {
    position:fixed;
    top: 0;
    width:300px;
    left: calc(50% - 150px);
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: ease-in-out 0.2s;
}


#questionnaire {
    position: fixed;
    top: 10%;
    left: 10%;
    height: 0;
    width: 80%;
    z-index: 0;
    transition: ease-in-out 0.2s;
    padding: 1rem;
    overflow: hidden;
}

#profile {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 2;
}