<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Doctor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-2">Dr. Kenneth Walkers</h1>
            <h2 class="title is-3">Orthopedic Doctor</h2>
            <h1 class="title is-4">Vishnu Satish Central Hospital</h1>
            <div class="box">
                <p class="subtitle is-4">List of Patients</p>
                <table class="table">
                    <thead>
                      <tr>
                        <th><abbr>Name</abbr></th>
                        <th>Distance from Hospital</th>
                        <th><abbr>Issue</abbr></th>
                        <th><abbr>Message</abbr></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Michael Jawarski</th>
                        <td>7 minutes</td>
                        <td>Pain in limbs</td>
                        <td>My right arm is hurting a lot, a piece of meteor fell on it.</td>
                      </tr>
                      <tr>
                        <th>Jonathan Batti</th>
                        <td>4 minutes</td>
                        <td>Pain in limbs</td>
                        <td>Wind made me fall over and my left leg is stuck in a drain. It is hurting please help!!</td>
                      </tr>
                      <tr>
                        <th>Sarah Bonnafacci</th>
                        <td>13 minutes</td>
                        <td>Pain in upper back</td>
                        <td>I was hit by a piece of debris. I think my back may be broken!</td>
                      </tr>
                    </tbody>
                </table>
              </div>
        </div>
        <section>
</body>

</html>